# schema: https://scanner.dev/schema/scanner-detection-rule.v1.json
name: AWS Application Load Balancer Insecure SSL Policy
enabled: true
severity: Low
description: |-
  ## Goal
  Detect configuration of insecure SSL policies on AWS Application Load Balancers (ALBs).

  ## Strategy
  Monitor AWS CloudTrail management events for:
  * `ModifyListener`
  * `CreateListener`

  where the `requestParameters.sslPolicy` is set to one of a set of known weak or legacy SSL policies. These configurations may:
  * Permit deprecated ciphers or protocol versions, or
  * Degrade the overall cryptographic strength of TLS connections terminated at the ALB.

  ## Triage and Response
  * Confirm whether the SSL policy change was requested as part of a documented change or rollback.
  * Validate that the chosen SSL policy aligns with internal cryptographic standards and regulatory requirements.
  * Where unjustified, plan a change to update the listener to a modern, secure TLS policy and assess whether any sensitive data may have been exposed under weaker settings.
query_text: |-
  %ingest.source_type="aws:cloudtrail"
  eventSource="elasticloadbalancing.amazonaws.com"
  eventName:(
  "ModifyListener"
  "CreateListener"
  )
  and requestParameters.sslPolicy:(
  "ELBSecurityPolicy-2016-08" or
  "ELBSecurityPolicy-TLS13-1-1-2021-06" or
  "ELBSecurityPolicy-TLS13-1-0-2021-06" or
  "ELBSecurityPolicy-TLS13-1-1-FIPS-2023-04" or
  "ELBSecurityPolicy-TLS13-1-0-FIPS-2023-04" or
  "ELBSecurityPolicy-TLS-1-1-2017-01" or
  "ELBSecurityPolicy-FS-2018-06" or
  "ELBSecurityPolicy-2015-05" or
  "ELBSecurityPolicy-TLS-1-0-2015-04" or
  "ELBSecurityPolicy-FS-1-1-2019-08"
  )
  and not errorCode:*
  | stats
  min(timestamp) as firstTime,
  max(timestamp) as lastTime,
  count() as eventCount
  by
  recipientAccountId,
  userIdentity.arn,
  eventSource,
  eventName,
  awsRegion,
  requestParameters.sslPolicy
time_range_s: 3600
run_frequency_s: 300
event_sink_keys:
- low_severity_alerts
tags:
- source.aws
- domain.cloud
- tactics.ta0005.defense_evasion
- techniques.t1600.weaken_encryption
- use_case.aws_alb_ssl
- use_case.hardening
context_fields:
- recipientAccountId
- userIdentity.arn
- eventSource
- eventName
- awsRegion
- sourceIPAddress
- userAgent
- requestParameters.sslPolicy
- requestParameters.loadBalancerArn
- eventID
- eventTime
