name: GCP Service API Key Retrieved Playbook
description: Detect when there is a successful attempt to retrieve Google Cloud service API keys. This behavior may indicate unauthorized access or an attempt to misuse credentials.
severity: High
steps:
- name: Investigation
  description: Monitor Cloud Audit Logs for events where the `GetKeyString` method is called on the `apikeys.googleapis.com` service, indicating that an API key has been retrieved. If such events are detected within an hour, trigger an alert to investigate potential unauthorized access.
- name: Triage
  description: Investigate the detected use cases to determine if they were authorized. Review the user and IP addresses involved to ensure that no unauthorized access has occurred. Monitor for further suspicious activities involving this API key or user.
- name: Remediation
  description: Follow the Triage steps to contain and remediate.
