name: GCP BigQuery Results Downloaded From Multiple Tables Playbook
description: Detect when a user downloads GCP BigQuery results from multiple tables, which might indicate data exfiltration activity. This can be a sign of unauthorized data access and potential exfiltration.
severity: High
steps:
- name: Investigation
  description: Monitor GCP Cloud Audit logs for events where the `jobservice.getqueryresults` action is taken on BigQuery datasets. Capture relevant details such as the principal IP, user, and target resources to assess potential threats. If a user downloads results from more than 3 distinct tables within an hour, trigger an alert.
- name: Triage
  description: Investigate the detected event to determine if it was authorized. Review the principal IPs, users, and other details to ensure that no unauthorized data exfiltration has occurred. Ensure that all access policies comply with company policies.
- name: Remediation
  description: Follow the Triage steps to contain and remediate.
